.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
app/src/main/assets/acrapassword.json
app/src/main/assets/googleplus_credentials.txt
*.db
GCM.txt
app/app-release.apk
.idea/workspace (Exemplaar met conflict van win8desk_f 2014-11-18).xml
