<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.frankkie.convention" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="nl.frankkie.convention.EventListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.frankkie.convention.EventDetailActivity"
            android:label="@string/title_event_detail"
            android:parentActivityName="nl.frankkie.convention.EventListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventListActivity" />
        </activity>

        <provider
            android:name="nl.frankkie.convention.data.EventProvider"
            android:authorities="nl.frankkie.convention" />

        <activity
            android:name="nl.frankkie.convention.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
