<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.frankkie.convention">

    <!--
    Note about version:
    Change the versionName and versionCode in build.gradle (module: app).

     TODO LIST
    - Keep Map on correct floor onOrientationChange
    - Star as ActionBarItem ?
    - Use custom view for Map
    - Implement Notification
    - Add Speakers Screen
    - Add News Screen
    - Add search-feature (search-icon in actionbar)
    - Add Setting screen (What settings are there?)
    - Add GCM for when data should be synced again.
    - Implement Sync Favorites to the cloud
    - Add NFC Hunt (but give it a catchy friendship-related name)
    - Add Android Wear companion app
    - Make it Android 2.3.3 compatible (now its 4.0+)
    //
    -->

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="nl.frankkie.convention.EventListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.frankkie.convention.EventDetailActivity"
            android:label="@string/title_event_detail"
            android:parentActivityName="nl.frankkie.convention.EventListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventListActivity" />
        </activity>

        <activity
            android:name="nl.frankkie.convention.AboutActivity"
            android:label="@string/title_activity_about"></activity>
        <activity
            android:name="nl.frankkie.convention.MapActivity"
            android:label="@string/title_activity_map"></activity>
        <activity android:name=".ScheduleActivity"
            android:label="@string/title_activity_schedule"></activity>

        <provider
            android:name="nl.frankkie.convention.data.EventProvider"
            android:authorities="nl.frankkie.convention"
            android:exported="false"
            android:syncable="true" />

        <!-- SyncAdapter //-->
        <service
            android:name=".sync.ConventionAuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <!-- Runs in :sync-process to reduce overhead. See docs.
        android:process=":sync" in service-tag
        //-->
        <service
            android:name=".sync.ConventionSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>
