<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.frankkie.convention">

    <!--
    Note about version:
    Change the versionName and versionCode in build.gradle (module: app).

     TODO LIST
    - Add accounts, to sync favorites between devices.
    - Add News Screen      
    - Add NFC/QR Hunt (but give it a catchy friendship-related name)        
    
    //Probaly not:
    - Use custom view for Map
    - Add Speakers Screen
    - Widget
    - Add search-feature (search-icon in actionbar)
    - Add Setting screen (What settings are there?)  
    - Add Android Wear companion app
    - Make it Android 2.3.3 compatible (now its 4.0+)
    - Twitter-screen?
    - Watchface?

    DONE:
    - Implement Sync Favorites to the cloud
    - Add About Screen, with version-number and licence info.    
    - Add more ACRA error reports.
    - Fix ShareActionProvider, does not always include title of event.
    - Star as ActionBarItem ?
    - Keep Map on correct floor onOrientationChange
    - Implement Notification
    - Add GCM for when data should be synced again.
    -->

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--
        GCM
        permission get accounts not needed, because minVersion >= android 4.0.4 (api 15)
    //-->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="nl.frankkie.convention.permission.C2D_MESSAGE"
        android:protectionLevel="signature"></permission>
    <uses-permission android:name="nl.frankkie.convention.permission.C2D_MESSAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="nl.frankkie.convention.EventListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.frankkie.convention.EventDetailActivity"
            android:label="@string/title_event_detail"
            android:parentActivityName="nl.frankkie.convention.EventListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventListActivity" />
        </activity>

        <activity
            android:name="nl.frankkie.convention.AboutActivity"
            android:label="@string/title_activity_about"></activity>
        <activity
            android:name="nl.frankkie.convention.AboutAppActivity"
            android:label="@string/title_activity_about_app"
            android:parentActivityName="nl.frankkie.convention.AboutAppActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AboutActivity" />
        </activity>
        <!--
        Don't reload WebView onConfigChange.
        http://developer.android.com/reference/android/webkit/WebView.html
        http://developer.android.com/guide/topics/resources/runtime-changes.html
        //-->
        <activity
            android:name="nl.frankkie.convention.MapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_map"></activity>
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/title_activity_schedule"></activity>

        <provider
            android:name="nl.frankkie.convention.data.EventProvider"
            android:authorities="nl.frankkie.convention"
            android:exported="false"
            android:syncable="true" />

        <!-- SyncAdapter //-->
        <service
            android:name=".sync.ConventionAuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <!-- Runs in :sync-process to reduce overhead. See docs.
        android:process=":sync" in service-tag
        //-->
        <service
            android:name=".sync.ConventionSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <!--
       Google Play Service for GCM
       //-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- GCM //-->
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="nl.frankkie.convention" />
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService" />
    </application>

</manifest>
